#header{
    background-image: url(https://thumbs.dreamstime.com/b/abstract-grayscale-hexagon-pattern-design-background-wallpaper-d-metal-wallpaper-abstract-grayscale-hexagon-pattern-design-153106531.jpg);
    background-repeat: none;
    background-size: cover;
}
